<html>
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Services Section</title>
<link href="wer.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<section class="services">

	<!--heading---------------->
	<div class="s-heading">
	<h1>Ser<font color="#4a90e2">vic</font>es</h1>
	<p>BPO PROCTOR</p>
	</div>

	<!--services-box-container------------------->
	<div class="s-box-container">
	<!--service-box-1---------------->
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="1" src="third.png" />
	<!--servies-name---------->
	<h1>Third party Intervention</h1>
	<!--details------>
		<p id="er">Ensures that no one else other than the authorized employee access the data. This feature helps to prevent malpractice like face spoofing where someone else tries to pretend to be the employee. Helps in preventing the data from being accessed by an unauthorized person.</p>
	<!--btn---------->

	</div>
		<!--service-box-1---------------->
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="2" src="mobil.jpg" />
	<!--servies-name---------->
	<h1>Mobile & Camera Detection</h1>
	<!--details------>
		<p id="er">Detects the presence of restricted items like Mobile phone, camera etc. which can be used to capture the data. These devices can be misused by the employee to capture the data and send it to some unauthorized person which can compromise the data security.</p>
	<!--btn---------->

	</div>
		<!--service-box-3---------------->
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="3" src="usb.png" />
	<!--servies-name---------->
	<h1>USB Storage Detection</h1>
	<!--details------>
		<p id="er">Checks if any external storage device like pen drive is connected to the device which can be used to store the copy of the data. The external storage devices can be used to to copy the data from the system and can be transferred to anyone outside the organization</p>
	<!--btn---------->

	</div>

	</div>

	</section>
  	<section class="servicesS">
  <div class="s-box-container">
	<!--service-box-1---------------->
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="4" src="meta.png" />
	<!--servies-name---------->
	<h1>Secret Snipper</h1>
	<!--details------>
		<p id="er">This feature enables in monitoring every activity of the employee. It can monitor each and every action of the user like applications running in the employees system, screenshots taken during proctoring session. This feature also gives the admin the control over the system like disabling controls and terminating tasks if suspicious activity is detected.</p>
	<!--btn---------->

	</div>
		<!--service-box-1---------------->
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="2" src="speech.png" />
	<!--servies-name---------->
	<h1>Speech to text and common word detection.</h1>
	<!--details------>
		<p id="er">Detects the presence of restricted items like Mobile phone, camera etc. which can be used to capture the data. These devices can be misused by the employee to capture the data and send it to some unauthorized person which can compromise the data security.</p>
	<!--btn---------->

	</div>
		<!--service-box-3---------------->
	<div class="s-box">
	<!--top-bar-------->
	<div class="bar"></div>
	<!--img---------->
	<img alt="usb.png" src=".png" />
	<!--servies-name---------->
	<h1>USB Storage Detection</h1>
	<!--details------>
		<p id="er">Checks if any external storage device like pen drive is connected to the device which can be used to store the copy of the data. The external storage devices can be used to to copy the data from the system and can be transferred to anyone outside the organization</p>
	<!--btn---------->

	</div>

	</div>


  </section>
</body>
</html>
